* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #e5ecef;
  font-family: "Lexend Deca", "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #1c1e1e;
  /* overflow: scroll; */
}

.data-container {
  width: 100%;
  padding: 4rem;
  border: 2px solid red;
}

.data-container-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.side-1 {
  width: 50%;
}

.side-2 {
  width: 50%;
  /* background-color: blue; */
}
